.banner {
    min-height: 100vh;
    display: flex;
}

.banner-content {
    display: flex;
    width: 100%;
    padding: 0 1vw 0 5vw;
}

.banner-fondo {
    width: 900px;
    height: 960px;
    background: radial-gradient(53.9% 53.9% at 77.01% 30.21%, rgba(31, 195, 231, 0.84375) 0%, #1F34E7 100%);
    opacity: 0.32;
    margin-top: 30rem;
    filter: blur(140px);
    position: fixed;
    z-index: -1;
}

.banner-image {
    display: flex;
    justify-content: center;
    flex-direction: column;
    /*
    border-radius: 40%;
    overflow: hidden;
    */
}

.banner-image img {
    transition: 0.6s ease-in-out;
    width: 30vw
}


.banner-image img:hover {
    filter: drop-shadow(-5px -5px 200px rgba(2, 218, 243, 0.4));
}

.banner-Info {
    width: 63%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5em;

}

.banner-Info h1 {
    margin: 0;
    font-size: clamp(25px, 4vw, 90px);

}

.banner-Info h1 span {
    color: #0ef;
    font-size: clamp(26px, 4.1vw, 91px);
}

.banner-Info p {
    width: 95%;
    font-size: max(1.1vw, 10px);
    /*font-size: 1.1vw;
    font-size: max(1.2vw, 12px);*/
    text-align: justify;
    line-height: 2
}

.banner-Info button {
    padding: 0.8em 1.3em;
    border-radius: 0.5rem;
    background-color: rgb(0, 0, 0, 2%);
    color: white;
    width: clamp(60px, 20vw, 200px);
    font-size: clamp(10px, 2vw, 18px);
    border: none;
    box-shadow: 0.1em 0.1em 0.2em 0.2em #0ef, inset 0.1em 0.1em 0 0 #0ef;
    transition: 0.2s ease-in-out;
    position: relative;
}

.banner-Info button:nth-child(2)::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: rgb(0, 238, 255, 80%);
    z-index: -1;
    transition: .5s;
}

.banner-Info button:nth-child(2):hover::before {
    width: 100%;
}


.banner-Info button:nth-child(1)::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    transition: .5s;
    background-color: rgb(0, 238, 255, 80%);
}

.banner-Info button:nth-child(1):hover::before {
    width: 0;
}


.bannerButton {
    display: flex;
    gap: 2em;
    align-items: center;
    margin-top: 2vw;
}


@media screen and (max-aspect-ratio: 1.2) {
    .banner-content {
        flex-direction: column-reverse;
        padding: 6vw;
        margin-top: 0;
        gap: 0.5em;
        justify-content: center;
    }

    .banner-image {
        align-items: center;
    }

    .banner-image img {
        min-width: 15em;
    }

    .banner-Info {
        width: 100%;
        align-items: center;
        text-align: center;
        gap: 1em;
    }


    .banner-Info p {
        width: 100%;
        font-size: max(1.1vw, 13px);

    }

    .banner-Info button {
        margin-top: 0;
        width: clamp(100px, 30vw, 200px);
        font-size: clamp(10px, 3vw, 18px);
    }

    @media (max-width: 500px) {
        .banner-Info p {
            line-height: 1.5;
            font-size: 12px;
        }

        .banner-Info button {
            padding: 1.5em;
        }

        .bannerButton {
            margin-top: 0;
        }
    }

}