.banner {
    min-height: 100vh;
    display: flex;
}

.banner-content {
    display: flex;
    width: 100%;
    padding: 0 1vw 0 5vw;
}

.banner-fondo {
    width: 900px;
    height: 960px;
    background: radial-gradient(53.9% 53.9% at 77.01% 30.21%, rgba(31, 195, 231, 0.84375) 0%, #1F34E7 100%);
    opacity: 0.32;
    margin-top: 30rem;
    filter: blur(140px);
    position: fixed;
    z-index: -1;
}

.banner-image {
    display: flex;
    justify-content: center;
    flex-direction: column;
    /*
    border-radius: 40%;
    overflow: hidden;
    */
}

.banner-image img {
    transition: 0.6s ease-in-out;
    width: 30vw
}


.banner-image img:hover {
    filter: drop-shadow(-5px -5px 200px rgba(2, 218, 243, 0.4));
}

.banner-Info {
    width: 63%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5em;
    
}

.banner-Info h1 {
    margin: 0;
    font-size: 5.4vw;

}

.banner-Info h1 span {
    color: #0ef;
    font-size: 6vw;
}

.banner-Info p {
    width: 95%;
    font-size: 1.1vw;
    text-align: justify;
    line-height: 2
}

.banner-Info button {
    padding: 0.8em 1.3em;
    border-radius: 0.5rem;
    background-color: rgb(0, 0, 0, 2%);
    color: white;
    width: 200px;
    font-size: 18px;
    border: none;
    box-shadow: 0.1em 0.1em 0.2em 0.2em #0ef, inset 0.1em 0.1em 0 0 #0ef;
    transition: 0.2s ease-in-out;
}

.banner-Info button:hover {
    background-color: #0ef;
}



@media screen and (max-aspect-ratio: 1.2) {
    .banner-content {
        flex-direction: column-reverse;
        padding: 6vw;
        margin-top: 0;
        gap: 4vw;
        justify-content: center;
    }

    .banner-image {
        align-items: center;
    }

    .banner-image img {
        min-width: 15em;
    }

    .banner-Info {
        width: 100%;
        align-items: center;
        text-align: center;
        gap: 1em;
    }

    .banner-Info h1 {
        font-size: 6.5vw;
    }

    .banner-Info p {
        font-size: 1em;
        width: 100%;

    }

    .banner-Info button {
        margin-top: 1em;
    }

    @media (max-width: 500px) {
        .banner-Info p {
            font-size: 0.7em;
        }

        .banner-Info h1 {
            font-size: 1.5em;
        }
        .banner-Info h1 span {
            font-size: 1.2em;
        }

        .banner-Info button {
            padding: 0.7em 1.2em;
            width: 150px;
            font-size: 15px;
        }
    }

}