.footer {
    background-color: rgb(14, 2, 51, 0.45);
    display: flex;
    justify-content: center;
    align-items: center
}

.footer-containt {
    width: 920px;
    height: 550px;
    background: rgba(62, 60, 60, 0.3);
    border-radius: 40px;
    display: flex;
    gap: 2em;
    color: #ffffff;
    margin: 3.5em 1em 3.5em 1em;
    overflow: hidden
}

.footer-img-container {
    width: 25em;
    height: 100%;
    background-color: white;

}

.footer-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.footer-info {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1em
}

.footer h1 {
    font-size: 3em;
    margin: 0;
    color: #0ef;
    text-align: center;
}


.footer-info-list {
    display: flex;
    flex-direction: column;
    gap: 1em;
    border-radius: 1em;
    overflow: hidden;
}

.footer-info-contac a {
    display: flex;
    background-color: white;
    gap: 1em;
    align-items: center;
    color: black;
    width: 100%;
    transition: transform 200ms ease;
}

.footer-info-contac a:hover {
    transform: scale(1.02);
}

.footer-info-contac {
    display: flex;
    background-color: rgb(255, 255, 255, 20%);
    gap: 1em;
    align-items: center;
    color: rgb(240, 230, 230);
    font-weight: 600
}


.footer-info-contac img {
    width: 80px;
    padding: 0.3em;
}


@media (max-width: 820px) {

    .footer-containt {
        flex-direction: column;
        height: 100%;
        width: 400px;
    }

    .footer-info {
        width: 100%;
    }

}


@media (max-width: 450px) {
    .footer-containt {
        max-width: 100%;
        border-radius: 1em;
    }

    .footer-img-container {
        width: 100%;
    }

    .footer h1 {
        font-size: 2em;
    }

    .footer-info-contac img {
        width: 50px;
        padding: 0.3em;
    }

    .footer-info-contac a, .footer-info-contac {
        gap: 0.3em;
        font-size: 0.94em;
    }

}