.footer{
    display:flex ;
    flex-direction:column; 
    align-items: center;
    background-color: rgb(14, 2, 51 , 0.45);
}

.footer-containt{
    max-width: 50em;
    height: 27em;
    background: rgba(62, 60, 60, 0.3);
    border-radius: 40px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
    gap: 1em;
    color: #ffffff;
    margin: 3.5em 1em 3.5em 1em;
}

.footer h1{ 
    font-size: 2.5wm;
    margin: 0;
}
.footer p{
    width: 70%;
}
.footer button{
    border-color: white;
    padding: 0.5em 1.5em;
    border-radius: 0.5rem;
    background-color: rgb(0, 0, 0, 2%);
    color: white;
}


@media (max-width: 500px) {
    .footer p{
       font-size: 0.8em;
    }
}