.knowlegge-container {
    display: flex;
    flex-direction: column;
    transition: transform 200ms ease;
    gap: 0.5em;
    cursor: pointer;
}

.knowlegge-container:hover {
    transform: scale(1.2);
}

.knowlegge-container-img {
    width: clamp(80px, 10vw, 200px);
    aspect-ratio: 1;
    background-color: rgb(255, 255, 255, 80%);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius:50%;
    padding: 1em;
    position: relative;
}

.knowlegge-container-img img {
    
    object-fit:contain;
    position: absolute;
    width: 80%;
    height: 80%;
}



.knowlegge-container-info h3 {
    font-size: 150%;
    color: #0ef;
    text-align: center;
}


