.knowledgeListt{
    display:flex ;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    margin-top: 2em;
    gap: 3em;
    justify-content: center;
    margin-bottom: 3em;
    padding: 1em;

}

.knowledgeListt-content{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    border-radius: 2rem;
   
    justify-content: center;


}


.knowledgeListt h2 {
    margin: 0;
    font-size: 3.5vw;
}


.knowledgeListt h2 span {
    font-size: 45px;
    color: #0ef;
    font-size: 4vw;
}