.knowlegge-container {
    border: 0.2rem solid rgba(27, 24, 35);
    background-color: rgba(27, 24, 35);
    width: 450px;
    height: 10w;
    border-radius: 2rem;
    display: flex;
    transition: 0.5s ease-in-out;
    overflow: hidden;
}

.knowlegge-container:hover {
    border-color: #0ef;
    transform: scale(1.02);
}

.knowlegge-container-img {
    width: 35%;
    height: 100%;
    background-color: rgb(255, 255, 255, 80%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.knowlegge-container-img img {
    width: 90%;
    height: 90%;
    object-fit:contain;

}

.knowlegge-container-info {
    width: 65%;
    padding: 1.5em;
    text-align: justify;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5em;
}

.knowlegge-container-info h3 {
    font-size: 150%;
    color: #0ef;
}

.knowlegge-container-info p {
    font-size: 80%;
}




/* Rectangle */