.knowledgeListt{
    display:flex ;
    flex-direction: column;
    min-height: 100vh;
    gap: 2em;
    padding: 4em 3em
}

.knowledgeListt-content{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem 2.5rem;
    border-radius: 2rem;
    justify-content: center;
    margin-bottom: 2em;
}


.knowledgeListt h2 {
    text-align: center;
    font-size: 3.5vw;
}


.knowledgeListt h2 span {
    font-size: 45px;
    color: #0ef;
    font-size: 4vw;
}

@media (max-width: 950px) {
    .knowledgeListt{
        padding: 4em 1em
    }
    .knowledgeListt h2 {
        font-size: 2em;
    }
    
    .knowledgeListt h2 span {
        font-size: 1.2em;
    }

   
}
