.nawBar {
    position: fixed;
    width: 100%;
    background-color: rgb(14, 2, 51);
    z-index: 2;
}


.handleIconNavbar {
    display: none
}


.nawBar-list {
    display: flex;
    gap: 2rem;
    justify-content: center;
    padding: 1.5rem;
    color: white;
}

.nawBar-list li{
    font-size: 1.2em;
}




@media (max-width: 600px) {

    .menuResponsive{
        background-color: rgb(14, 2, 51);
        position:fixed;
        top: 0px;
        right: 0px;
        padding: 0.5em;
        border-radius: 0 0 0 1em;
        z-index: 2;
    }
    .handleIconNavbar {
        display:inline-block;
        font-size: 50px;
    }
    

    .nawBar-list {
        background-color: rgba(47, 41, 61, 0.95);
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 110vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
   
        gap: 2em;
        transition: left .5s;
        padding: 0;
    }

    .active {
        left: 110%
    }

    .nawBar-list li{
        font-size: 1.5em;
        color: white;
    }

    
}